*{
    box-sizing: border-box;
}
.box{
    border:1px solid white;
    padding:20px;
    color:#fff;
    background-color:#f00;
    text-align: center;
    box-shadow: 0 0 10px #000;
}
.container{
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
}
body{
    background-color:#000;
}
.row{
    margin: 0 -15px;
}
.row:after{
    content: '';
    clear: both;
    display: block;

}
.col{
    width: 25%;
    float: left;
    padding: 0 15px;
    height:50px;

}
.col:before{
    content: '+';
    display: inline-block;
    vertical-align: top;
}
.navbar,.flex{
    /* display: flex; */
    padding: 20px 40px;
    background-color: #fff;t
   /*  */
}
.navbar{
     border-top: 4px solid red;
}
.ml-auto{
    margin-left: auto;
}
.item-holder{
    /* float:right */
}
.item{
    /* color: #fff; */
    float:left;
    padding: 10px;
    cursor: pointer;
}
.logo h1{
    /* color: #fff; */
    padding: 20px;
}
.logo{
    float:left;
}